.sidebar {
    color: #000;
    background: #f8b318;
}
.sidebar .nav-link.active, .sidebar .navbar .active.dropdown-toggle, .navbar .sidebar .active.dropdown-toggle {
    color: #fff;
    background: #000;
}
.sidebar .nav-title {
    color: #000;
}
.sidebar .nav-link, .sidebar .navbar .dropdown-toggle, .navbar .sidebar .dropdown-toggle {
    color: #000;
}
.sidebar .nav-link:hover, .sidebar .navbar .dropdown-toggle:hover, .navbar .sidebar .dropdown-toggle:hover {
    background: #f9fd0d;
    color:#000;
}
.sidebar .nav-link i, .sidebar .navbar .dropdown-toggle i, .navbar .sidebar .dropdown-toggle i {
    color: #000;
}

.sidebar .nav-link.active i, 
.sidebar .navbar .active.dropdown-toggle i, 
.navbar .sidebar .active.dropdown-toggle i {
    color: #fff;
}

.sidebar .nav-link.active:hover i, 
.sidebar .navbar .active.dropdown-toggle i, 
.navbar .sidebar .active.dropdown-toggle i {
    color: #000;
}

.action{
    text-align: right;
}
.action > a{
    text-decoration: none;
    cursor: pointer;
}

.table thead th {
   text-align: center;
}

.sidebar .nav .nav-item .nav-link:hover, 
.sidebar .nav .nav-item .nav-link:hover i, 
.sidebar .nav .nav-item .navbar .dropdown-toggle:hover, 
.navbar .sidebar .nav .nav-item .dropdown-toggle:hover
 {
    color: #fff !important;
    background: #000 !important;
}

.table thead th {
    vertical-align: middle !important;
    text-align: center;
}