<div class="animated fadeIn">
  <div class="card">
      <div class="card-header">
        <i class="fa fa-user"></i> Category food
        <div class="pull-right">
            <button type="button"  (click)="newModal(frmCategory)" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> New</button>
            <button type="button" (click)="deleteItem" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete</button>
        </div>
      </div>
      
      <div class="card-body">
        <table class="table table-sm table-data table-bordered">
          <thead>
            <tr>
              <th><input type="checkbox"/></th>
              <th>Image</th>
              <th>Name</th>
              <th>Sort</th>
              <th>Active</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center"><input type="checkbox"/></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center">
                  <span class="badge badge-success">Active</span>
              </td>
              <td class="action">
                  <a title="Edit" class="text-primary"><i class="icon-note"></i></a>
                  <a title="Delete" class="text-danger"><i class="icon-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
<!-- 
  ====================================================================================================
  :: Modal form ::
  ====================================================================================================
-->

<ng-template #frmCategory>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{frmTitle}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- Form category input -->
    <form enctype="multipart/form-data" class="form-horizontal">
      <div class="form-group row">
        <label class="col-md-2 form-control-label">Image : </label>
        <div class="col-md-10">
          <input type="file" [(ngModel)]="input.image" />
        </div>
      </div>

      <div class="form-groups row">
        <label class="col-md-2 form-control-label">Name : </label>
        <div class="col-md-10">
        <input type="text" class="form-control" name="name" [(ngModel)]="input.name" />
        </div>
      </div>
      <div class="form-groups row">
        <label class="col-md-2 form-control-label">Status : </label>
        <div class="col-md-10">
        <label class="checkbox">
          <input type="checkbox" name="input.active" /> Active
        </label>
        </div>
      </div>
    
      <div class="form-groups text-right">
        <button type="button" class="btn btn-primary" (click)="submit()">
          <i class="fa fa-save"></i> SAVE</button>
        <button type="button" class="btn btn-default" (click)="close()">
          <i class="fa fa-save"></i> cancel</button>
      </div>
    </form>
    <!-- /Form category input -->
  </div>
</ng-template>