// Here you can add other styles
.mt-10{
    margin-top:10px;
}
.action{
    a{
        text-decoration: none;
        cursor: pointer;
    }
}
table{
    tbody{
        tr{
            td{
                p{
                    line-height: 1.1;
                    margin:0 !important;
                    padding:0;
                }
            }
        }
    }
}
img{
    max-width: 100%;
}